@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer: #114032;
}

body {
  color: #2b2b30;
  background-color: #ffffff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  background-color: var(--color-secondary);
}
b {
  font-weight: 600;
}
p,
a,
li {
  color: white;
  font-weight: 400;
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  margin: 0;
  /* margin-bottom: 1rem; */
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}
p,
a,
li {
  font-size: 1.4rem;
  line-height: 170%;
  letter-spacing: 0px;
  color: black;
}

@media screen and (min-width: 1800px) {
  h2 {
    font-size: 4.8rem;
  }
  h3 {
    font-size: 3.4rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.2rem;
  }
  h6 {
    font-size: 2rem;
  }
  p,
  a,
  li {
    font-size: 1.8rem;
  }
  .custom-underline {
    margin-bottom: 46px;
  }
}
.navbar_section a {
  font-weight: 400;
}

/*Main section */

.main_section {
  width: 100%;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .main_section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .main_section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 940px;
  }
}

@media screen and (min-width: 1536px) {
  .main_section {
    max-width: 1240px;
  }
  .left_section_inside {
    padding-left: 12rem;
  }
  .right_section_inside {
    padding-right: 12rem;
  }
  .navbar_left {
    margin-left: 12rem;
  }
  .navbar_right {
    margin-right: 12rem;
  }
  .collapsible--expanded {
    padding-left: 8rem;
  }
}
@media screen and (min-width: 1836px) {
  .main_section {
    max-width: 1440px;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 768px) {
  .no_padding_mobile {
    padding-top: 0px !important;
  }
}

/*Navbar section */

.navbar_section {
  padding: 1.6rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  max-width: 860px;

  margin: auto;
  z-index: 100;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .navbar_section {
    max-width: 1100px;
  }
}

@media screen and (min-width: 1300px) {
  .navbar_section {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1536px) {
  .navbar_section {
    max-width: 1500px;
  }
}
@media screen and (min-width: 1836px) {
  .navbar_section {
    max-width: 1784px;
  }
}

.circle {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
}

.circle_contact {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

.react-player__preview {
  height: 500px !important;
}

.react_player_own {
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  height: 513px;
  background-color: black;
}

.react-player__preview {
  height: inherit !important;
}

/*btn*/
.btn {
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
  outline: 0;
  padding: 0.8rem 2.7rem;
  text-align: center;
  white-space: nowrap;
  max-width: fit-content;
  justify-content: center;
  display: flex;
  transition: 0.1s ease-in;
  align-items: center;
  font-weight: 400;
  z-index: 10;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
}

.btn--primary {
  /* background: #384239; */
  background-color: #1f2820;
  color: white;
}
.btn--primary:hover {
  background-color: #344235;
}

.behind_card_background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  align-items: center;
  padding: 1rem;
  opacity: 0.6;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2400;
}
.popup_message {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  background-color: white;
  border: 1px solid black;
  padding: 1.6rem;
  position: fixed;
  z-index: 2500;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .popup_message {
    width: 750px;
    max-height: 80vh;
    padding: 5rem;
  }
}

.disabledBtn {
  opacity: 0.7;
  cursor: default;
}

/*Tiptap*/

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3.5rem;
  }
  h5 {
    font-size: 3rem;
  }
  h6 {
    font-size: 2.5rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: "JetBrainsMono", monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

  table th {
    background-color: rgba(61, 37, 20, 0.05);
    font-weight: 700;
    text-align: left;
  }
  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  table td,
  table th {
    border: 1px solid rgba(61, 37, 20, 0.12);
    box-sizing: border-box;
    min-width: 1em;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
  }
}

button.is-active,
input.is-active,
select.is-active,
textarea.is-active {
  background: #433f8f;
  color: #ffffff;
}

.button-group {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.control-group {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
}

.button-group button,
.button-group input,
.button-group select,
.button-group textarea {
  background: #ededed;
  border-radius: 0.5rem;
  border: none;
  color: var(--black);
  font-family: inherit;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;
  margin: none;
  padding: 0.5rem 1rem;
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.ProseMirror {
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  min-height: 400px;
  background-color: white;
}

button.is-active,
input.is-active,
select.is-active,
textarea.is-active {
  background: #433f8f !important;
  color: #ffffff !important;
}
p:empty {
  display: block;
  min-height: 1em;
}

.product_admin_row {
  margin-top: 2rem;
}

.padding_mobile {
  padding: 1.6rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

ul {
  list-style: disc;
  margin-bottom: 1rem;
}
